body { background-color: rgb(205, 215, 247); }

h1{
    color: rgb(26, 12, 112);
    font-size: 40px;
    font-style: italic;
    font-weight: bold; 
    font-family: 'Game of Thrones';
    text-align: center;
}

@font-face{
    font-family: 'Game of Thrones';
    src: url('../fonts/Game\ of\ Thrones.eot');
    src: url('../fonts/Game\ of\ Thrones.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Game\ of\ Thrones.woff') format('woff'),
         url('../fonts/Game\ of\ Thrones.woff2') format('woff2'),
         url('../fonts/Game\ of\ Thrones.ttf') format('truetype'),
         url('../fonts/Game\ of\ Thrones.svg#Game of Thrones') format('svg');

         font-weight: normal;
         font-style: normal;
}

#pagewrap{
    padding: 5px;
    width: 960px;
    margin: 20px auto;
    border: solid 2px #000000;
}

#resena{
    width: 960px;
    float: left;
    text-align: left;
    font-style: italic;
}

.imagen1{
    width: 400px;
    height: 500px;
    border-radius: 5px;
}

#logo{
    text-align: center;
}

/* para resolucion de 999px o menos */
@media screen and (max-width: 999px){
    body{background-color: rgb(205, 215, 247);}
    #pagewrap{width: 94%;}
    #resena{width: 94%;}  
}

/* para resolucion de 650px o menos */
@media screen and (max-width: 650px){
h1{ font-size: 30px;}
h2{ font-size: 18px;}
}

/* para resolucion de 480px o menos */
@media screen and (max-width: 480px){
    h1{ font-size: 20px;}
    h2{ font-size: 13px;}
    p{font-size: 15px;}
    .imagen1{
        width: 360px;
        height: 460px;
    }
}

/* para resolucion de 385px o menos */
@media screen and (max-width: 385px){
    .imagen1{
        width: 300px;
        height: 400px;
    }
    p{font-size: 13px;}
}

/* para resolucion de 324px o menos */
@media screen and (max-width: 324px){
    .imagen1{
        width: 220px;
        height: 330px;
    }
    h1{ font-size: 17px;}
    h2{ font-size: 11px;}
    p{font-size: 13px;}
}




